/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.TrafficLight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
}

.TrafficLight .light {
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    border-radius: 45%;
}

.red {
    background-color: red;
}
.red:active {
  box-shadow:0px 0px 100px 40px red;
}
.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.glow {
    box-shadow:  0px 0px 100px 40px yellow;
}

.redShadow {
    box-shadow:  0px 0px 100px 40px red;
}